#insurance_form_wrapper {
    width: 80%;
    box-sizing: border-box;
    padding: 30px;
}

.insurance_type_section input {
    height: 20px;
    width: 20px;
    display: flex;
}

.insurance_type_section > div {
    display: flex;
    flex-direction: row;
}

.contact_information_section {
    display: flex;
    flex-direction: column;
}

.insurance_options {
    display: none;
    flex-direction: column;
}


